{{ asset_add("styles.css", "defr.field_type.icon::scss/choices.scss") }}
{{ asset_add("styles.css", "defr.field_type.icon::scss/overrides.scss") }}
{{ asset_add("scripts.js", "defr.field_type.icon::js/choices.js") }}
{{ asset_add("scripts.js", "defr.field_type.icon::js/dropdown.js") }}

<select
        class="el-dropdown"
        name="{{ field_type.input_name }}"
        data-color="{{ field_type.config.color }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

    {% if field_type.placeholder %}
        <option value="">{{ trans(field_type.placeholder)|default('Choose an icon.') }}</option>
    {% endif %}

    {% for key, value in field_type.options %}
        {% if value is iterable %}
            <optgroup label="{{ trans(key) }}">
                {% for key, value in value %}
                    <option value="{{ key }}" data-icon="{{ key }}" {{ key == field_type.key ? 'selected' }}>{{ trans(value) }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ key }}" data-icon="{{ key }}" {{ key == field_type.key ? 'selected' }}>{{ trans(value) }}</option>
        {% endif %}
    {% endfor %}

</select>
