.choices {

    .choices__list--single .choices__item {
        display: flex;
        flex-direction: column;
    }

    .choices__list {
        text-align: center;

        &.choices__list--dropdown {
            z-index: 2000;
            margin: -150px 0 0;
            text-align: center;
            border-top: 1px solid #d0d0d0;

            .choices__item {

                &.choices__item--choice.choices__item--selectable {
                    margin: 4px;
                    padding: 20px 0 0;
                    text-align: center;
                    width: 120px;
                    height: 120px;
                    flex-direction: column;
                    display: inline-flex;
                    align-items: center;
                    border: 1px solid;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

